

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dicecontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px;
}

.dice, 
.dicekept,
.diceused {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    border: solid 2px black;
    border-radius: 10px;
    margin: 5px;
    gap: 10px;
    text-align: center;
    cursor: pointer;
}

.dicekept {
    background-color: grey;
}

.diceused {
    background-color: red;
}

.scoreboard {
    font-size: 1.9rem;
}

.dicebtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 40px;
    border-radius: 10px;
    margin: 5px;
    gap: 10px;
    text-align: center;
}
